/* INSTRUCTIONS
 *
 * 1) Keep the text inside .intro-content
 *    in the same place, but have the background
 *    extend from one side of the viewport
 *    to the other, no matter how wide or narrow
 *    the browser is.
 *
 * 2) Limit the maximum width of the text in the
 *    bottom area.
 *
 * You may modify the HTML if needed
 * (you probably should for this challenge)
 *
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}
/* main box hai */
.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  background-color: #23424a;
  color: white;
  padding: 50px 0;
}
/* heading haru ko lagi */
.intro-content {
  width: 60%;
  margin: 0 auto;
  background-color: #23424a;
}

/* paragprah ko lagi hai */
.intro-content p{
  max-width: 50%;
}

/* talaa ko lai fit garnaa  */
.second-container{
  width: 60%;
  margin: 0 auto;
}